@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');

:root { 
    --primary-color: #CE6C3F;
    --secondary-color: #F29E03;
    --accent1-color: #121B30;
    --accent2-color: #5EB3C7;

    --heading-font: "Bebas Neue", sans-serif;
    --paragraph-font: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}


a {
    color: var(--primary-color);
  }
  
.sociallinks {
    text-decoration: none;
}

.hero {
    position: relative;
    width: 100%;
    height: 300px; 
    overflow: hidden; 
  }

.hero img {
    width: 100%;
    height: auto;
    display: block;
  }

.hero h1 {
    position: absolute;
    top: 0px;
    left: 500px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
.hero article {
    position: absolute;
    top: 170px;
    left: 500px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
.hero article {
    font-size: 1.2em;
    width: 80%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px; 
  }
  

.hero article img {
    position: absolute;
    top: 50px;
    right: 0; 
    width: 150px;
    margin-left: 50px;
    float: right;
  }

p {
    font-family: var(--paragraph-font);
}

.sociallinks img {
  width: 50px; 
  height: auto;
  margin-right: 10px; 
  display: inline-block; 
}

header img {
  width: 350px; 
  display: block; 
  margin: 0 auto; 
}

section img {
  max-width: 700px; 
  height: auto; 
  display: block; 
  margin: 0 auto 20px; 
}